# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local
IMAGE_OPTIMIZATION.md
LINKEDIN_POST.md
.gitignore
LINKEDIN_PROJECT.md
readmedogithub.md
public/logo-600.svg
LINKEDIN_PROJECT_PTBR.md
readmedogithub_new.md
public/logo-1200.svg
.gitignore
public/logo-horizontal-4200.svg
public/logo-2400.svg
README_GITHUB_PROFILE.md
.gitignore
Curriculo-Marcus-Fiuza.json
